<section class="about-us section" id="about">
  <div class="container">
    <h2
      class="section-title wow animate__pulse"
      data-wow-delay="3s"
      data-wow-duration="1s"
      data-wow-iteration="1"
    >
      About <span class="decoration-underline">Us</span>
      <!-- Використав стиль Тосі, у алекса чогось відвалився афтер -->
    </h2>
    <p class="section-subtitle about-us-subtitle lessons-subtext">
      <!-- Використав стиль Алекса, бо правильне обмеження по ширині (а у Тосі чогось ні) -->
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="grid-container">
      <div
        class="grid-item cell-text uno wow animate__animated animate__fadeInLeftBig"
        data-wow-delay="0.9s"
        data-wow-duration="1s"
      >
        <p class="cell-num">01</p>
        <p class="cell-desc">Expert, innovative teaching staff</p>
      </div>
      <div
        class="grid-item cell-text tos wow animate__animated animate__fadeInLeftBig"
        data-wow-delay="0.7s"
        data-wow-duration="1s"
      >
        <p class="cell-num">02</p>
        <p class="cell-desc">Wide range of course levels and options</p>
      </div>
      <div
        class="grid-item cell-text tres wow animate__animated animate__fadeInLeftBig"
        data-wow-delay="0.5s"
        data-wow-duration="1s"
      >
        <p class="cell-num">03</p>
        <p class="cell-desc">Multicultural learning environment</p>
      </div>
      <div
        class="grid-item cell-text quatro wow animate__animated animate__fadeInLeftBig"
        data-wow-delay="0.3s"
        data-wow-duration="1s"
      >
        <p class="cell-num">04</p>
        <p class="cell-desc">Comprehensive language support services</p>
      </div>
      <div
        class="grid-item cell-img wow animate__animated animate__fadeInLeftBig"
        data-wow-delay="0.1s"
        data-wow-duration="1s"
      >
        <!-- <img src="../img/memoji.jpg" /> -->
      </div>
    </div>
  </div>
</section>
