<footer class="page-footer" id="footer">
  <div class="container footer-container">
    <div class="footer-info">
      <load src="partials/logo.html" />
      <address class="footer-contacts">
        <ul class="contacts-list">
          <li class="contact-list-item">
            <span class="contact-lable">Phone number:</span>
            <a class="contact-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <span class="contact-lable">Address:</span>
          <li class="contact-list-item">32a M. Bazhana ave</li>
        </ul>
      </address>
    </div>
    <div class="footer-nav">
      <ul class="page-nav-links">
        <li class="list-item">
          <a class="link" href="#">About us</a>
        </li>
        <li class="list-item">
          <a class="link" href="#">Our lessons</a>
        </li>
        <li class="list-item">
          <a class="link" href="#">Teachers</a>
        </li>
        <li class="list-item">
          <a class="link" href="#">Reviews</a>
        </li>
        <li class="list-item">
          <a class="link" href="#">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="footer-socials">
      <load src="partials/social-media.html" />
    </div>
    <div class="footer-bottom">
      <span class="copyright"
        >©2023 English Excellence. All rights reserved.</span
      >
      <ul class="footer-links">
        <li>
          <a class="link" href="#">Privacy Policy</a>
        </li>
        <li>
          <a class="link" href="#">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
