<section class="section hero">
  <div class="container">
    <div class="hero-wrapper">
        <h1 class="hero-title">
            Discover the joy of learning <span class="title-green">English</span> with
            us!
          </h1>
          <a href="#" class="link hero-btn">Leave an application</a>
          <a class="arrow-down-btn" href="#">
            <svg class="media-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
    </div>
  </div>
</section>
