<div class="mobile-menu">
  <div class="overlay"></div>
  <nav class="page-nav-mobile">
    <div class="close-section">
      <a class="close" id="close" href="#" aria-label="close mobile menu">
        <svg class="media-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </a>
    </div>
    <ul class="page-nav-links">
      <li>
        <a class="link" href="#about" aria-label="go to the section About us"
          >About us</a
        >
      </li>
      <li>
        <a
          class="link"
          href="#lessons"
          aria-label="go to the section Our lessons"
          >Our lessons</a
        >
      </li>
      <li>
        <a class="link" href="#teachers" aria-label="go to the section Teachers"
          >Teachers</a
        >
      </li>
      <li>
        <a class="link" href="#reviews" aria-label="go to the section Reviews"
          >Reviews</a
        >
      </li>
      <li>
        <a
          class="link"
          href="#application"
          aria-label="go to the section Contact us"
          >Contact us</a
        >
      </li>
    </ul>
    <ul class="socials media-icons">
      <li class="media-item">
        <a
          class="media-item-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="transition to the site facebook"
        >
          <svg class="media-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          class="media-item-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="transition to the site instagram"
        >
          <svg class="media-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          class="media-item-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="transition to the site youtube"
        >
          <svg class="media-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
