<nav class="page-nav desktop">
  <load src="partials/logo.html" />
  <ul class="page-nav-links">
    <li>
      <a class="link" href="#">About us</a>
    </li>
    <li>
      <a class="link" href="#">Our lessons</a>
    </li>
    <li>
      <a class="link" href="#">Teachers</a>
    </li>
    <li>
      <a class="link" href="#">Reviews</a>
    </li>
    <li>
      <a class="link" href="#">Contact us</a>
    </li>
  </ul>
  <load src="partials/social-media.html" />
  <a class="burger" href="#">
    <load
      src="partials/icon.html"
      icon-class="media-icon"
      icon-path="img/sprite.svg#icon-burger"
      w="40"
      h="28"
    />
  </a>
</nav>
