<section class="our-teachers section" id="teachers">
  <div class="container">
    <div class="our-teachers__wrapper">
      <h2
        class="section-title lessons-title wow animate__animated animate__pulse"
        data-wow-delay="0.9s"
        data-wow-duration="1s"
        data-wow-iteration="1"
      >
        Meet our <span class="decoration-underline">teachers</span>
      </h2>
      <p
        class="section-subtitle our-teachers__description our-teachers-subtitle"
      >
        Discover our team of dedicated educators, committed to guiding you on
        your journey to English proficiency with personalized and engaging
        instruction
      </p>
      <ul class="our-teachers__list">
        <li class="our-teachers__item">
          <div class="our-teachers__item-img">
            <img
              srcset="/img/teachers/1.jpg 1x, /img/teachers/1@2x.jpg 2x"
              src="/img/teachers/1.jpg"
              alt="Picture of the teacher"
            />
          </div>
          <div class="our-teachers__item-name">Maria</div>
          <div class="our-teachers__item-description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </div>
        </li>
        <li class="our-teachers__item">
          <div class="our-teachers__item-img">
            <img
              srcset="/img/teachers/2.jpg 1x, /img/teachers/2@2x.jpg 2x"
              src="/img/teachers/2.jpg"
              alt="Picture of the teacher"
            />
          </div>
          <div class="our-teachers__item-name">Artem</div>
          <div class="our-teachers__item-description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </div>
        </li>
        <li class="our-teachers__item">
          <div class="our-teachers__item-img">
            <img
              srcset="/img/teachers/3.jpg 1x, /img/teachers/3@2x.jpg 2x"
              src="/img/teachers/3.jpg"
              alt="Picture of the teacher"
            />
          </div>
          <div class="our-teachers__item-name">Ilona</div>
          <div class="our-teachers__item-description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </div>
        </li>
        <li class="our-teachers__item">
          <div class="our-teachers__item-img">
            <img
              srcset="/img/teachers/4.jpg 1x, /img/teachers/4@2x.jpg 2x"
              src="/img/teachers/4.jpg"
              alt="Picture of the teacher"
            />
          </div>
          <div class="our-teachers__item-name">Volodymyr</div>
          <div class="our-teachers__item-description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
