<section class="our-lessons section" id="lessons">
  <div class="title-container container">
    <h2
      class="section-title lessons-title wow animate__pulse"
      data-wow-delay="0.9s"
      data-wow-duration="1s"
      data-wow-iteration="1"
    >
      Our <span class="decoration-underline">lessons</span>
    </h2>
    <p class="section-subtitle lessons-subtext lessons-subtitle">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios.
    </p>
    <ul class="lessons-card-list">
      <li
        class="lessons-card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.9s"
      >
        <h3 class="lessons-card-title">Practice</h3>
        <p class="lessons-card-price">40$ / month</p>
        <p class="lessons-card-desc">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a
          data-target="leave-section"
          class="lessons-card-button lessons-card-button-text scroll-button"
          href="#application"
          aria-label="Leave an application"
          >Leave an application</a
        >
      </li>

      <li
        class="lessons-card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.7s"
      >
        <h3 class="lessons-card-title">Standard</h3>
        <p class="lessons-card-price">70$ / month</p>
        <p class="lessons-card-desc">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a
          data-target="leave-section"
          class="lessons-card-button lessons-card-button-even scroll-button"
          href="#application"
          aria-label="Leave an application"
          >Leave an application</a
        >
      </li>

      <li
        class="lessons-card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.5s"
      >
        <h3 class="lessons-card-title">Individual</h3>
        <p class="lessons-card-price">99$ / month</p>
        <p class="lessons-card-desc">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a
          data-target="leave-section"
          class="lessons-card-button scroll-button"
          href="#application"
          aria-label="Leave an application"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
