<section class="section">
  <div class="container-reviews">
    <h2 class="title-reviews">
      What our <span class="decoration-underline">students</span> say
    </h2>
    <p class="subtitle-reviews">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="box-reviews">
          <div class="box-reviews-inside">
            <img
              loading="lazy"
              srcset="
                /img/reviews_photo/anna-@1x.jpg 1x,
                /img/reviews_photo/anna-@2x.jpg 2x
              "
              alt="Photo of Anna"
              width="50"
              height="50"
              class="reviews-photo"
            />
            <div class="reviews-description">
              <h3 class="name-person">Anna</h3>
              <p class="position-person">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="box-reviews">
          <div class="box-reviews-inside">
            <img
              loading="lazy"
              srcset="
                /img/reviews_photo/mykhailo-@1x.jpg 1x,
                /img/reviews_photo/mykhailo-@2x.jpg 2x
              "
              alt="Photo of Mykhailo"
              width="50"
              height="50"
              class="reviews-photo"
            />
            <div class="reviews-description">
              <h3 class="name-person">Mykhailo</h3>
              <p class="position-person">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="box-reviews">
          <div class="box-reviews-inside">
            <img
              loading="lazy"
              srcset="
                /img/reviews_photo/victoria-@1x.jpg 1x,
                /img/reviews_photo/victoria-@2x.jpg 2x
              "
              alt="Photo of Victoria"
              width="50"
              height="50"
              class="reviews-photo"
            />
            <div class="reviews-description">
              <h3 class="name-person">Victoria</h3>
              <p class="position-person">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
