<ul class="socials media-icons">
  <li
    class="media-item wow animate__animated animate__fadeInUp"
    data-wow-delay="1.2s"
    data-wow-duration="0.3s"
  >
    <a
      class="media-item-link"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      aria-label="go to the Facebook site"
    >
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-facebook"
        w="28"
        h="28"
      />
    </a>
  </li>
  <li
    class="media-item wow animate__animated animate__fadeInUp"
    data-wow-delay="1.4s"
    data-wow-duration="0.3s"
  >
    <a
      class="media-item-link"
      href="https://www.instagram.com/goitclub/"
      target="_blank"
      aria-label="go to the Instagram site"
    >
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-instagram"
        w="28"
        h="28"
      />
    </a>
  </li>
  <li
    class="media-item wow animate__animated animate__fadeInUp"
    data-wow-delay="1.6s"
    data-wow-duration="0.3s"
  >
    <a
      class="media-item-link"
      href="https://www.youtube.com/c/GoIT"
      target="_blank"
    >
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-youtube"
        w="28"
        h="28"
      />
    </a>
  </li>
</ul>
