<ul class="socials media-icons">
  <li class="media-item">
    <a class="media-item-link" href="https://www.facebook.com/goITclub/">
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-facebook"
        w="28"
        h="28"
      />
    </a>
  </li>
  <li class="media-item">
    <a class="media-item-link" href="https://www.instagram.com/goitclub/">
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-instagram"
        w="28"
        h="28"
      />
    </a>
  </li>
  <li class="media-item">
    <a class="media-item-link" href="https://www.youtube.com/c/GoIT">
      <load
        src="partials/icon.html"
        icon-class="media-icon"
        icon-path="img/sprite.svg#icon-youtube"
        w="28"
        h="28"
      />
    </a>
  </li>
</ul>
