:root {
  /* Colors */
  --black: #121417;
  --green: #4dc274;
  --light-green: #d4fde1;
  --gray: #f3f5f6;
  --white: #fff;
  --green-pseudo: #bee8cc;
  --dark-green: #38ae5f;
  --silver: #d0d0d1;

  /* Opacity for black color */
  --black-50: #12141780;
  --black-10: #1214171a;
  --black-20: #12141733;
  --black-80: #121417cc;

  /* Fonts */
  --primary-family: 'Manrope', sans-serif;

  /* Animations */
  --animation-func: cubic-bezier(0.075, 0.82, 0.165, 1);
  --transition-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-family);
  font-size: 14px;
  line-height: 1.7;
  background: var(--white);
}

ul {
  padding: 0;
  list-style-type: none;
}

a,
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  margin-bottom: 16px;
}

.section-subtitle {
  text-align: center;
  color: var(--black-80);
  margin: 0 auto;
}

.logo {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.green-color {
  color: var(--green);
}

.section {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    margin-top: 100px;
  }

  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .section-subtitle {
    font-size: 18px;
    line-height: 1.67;
    color: var(--black-50);
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    margin-top: 150px;
  }

  .container {
    max-width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
