.page-footer {
    margin-top: 80px;
    background-color: var(--black);
    color: var(--white);
}

.footer-container {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 14px;
}

.footer-contacts {
    margin-top: 20px
}

.page-footer .logo {
    color: var(--white);
}

.contact-list-item:not(:last-child) {
    margin-bottom: 16px;
}

.contact-lable {
    display: block;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.contact-list-item, .contact-link {
    color: var(--white);
    font-style: normal;
    font-weight: 600;
}

.contact-link {
    text-decoration: none;
}

.page-footer .page-nav-links {
    display: block;
}

.contact-lable, 
.contact-list-item, 
.contact-link,
.footer-nav a, 
.list-item {
    line-height: 1.28;
}

.footer-nav a {
    color: var(--white);
    font-weight: 600;
}

.footer-nav li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-socials .media-icons,
.footer-socials .media-item-link,
.footer-links {
    display: flex;
}

.footer-socials .media-icons {
    gap: 12px
}

.footer-socials .media-item-link svg,
.footer-socials .media-item-link {
    transition: border var(--transition-slow), fill var(--transition-slow);
}

.footer-socials .media-icon {
    fill: var(--silver);
}

.footer-socials .media-item:hover .media-icon,
.footer-socials .media-item:focus .media-icon,
.footer-socials .media-item:active .media-icon {
    fill: var(--green);
}

.footer-socials .media-item-link:hover,
.footer-socials .media-item-link:focus,
.footer-socials .media-item-link:active {
    border: 1px solid rgba(77, 194, 116, 0.10);
}

.footer-socials .media-item-link {
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-bottom .link, .footer-bottom .copyright {
    color: rgba(255, 255, 255, 0.60);
    letter-spacing: 0.02em;
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-links {
    gap: 18px;
}

.page-nav-links .link:hover,
.page-nav-links .link:focus,
.footer-links .link:hover,
.footer-links .link:focus {
    color: #4dc274;
}

.page-nav-links .link,
.footer-links .link {
    transition: color var(--transition-slow); 
}

@media only screen and (max-width: 767px) {
    .footer-nav,
    .footer-socials {
        margin-top: 40px;
    }

    .footer-links {
        margin-top: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .page-footer {
        margin-top: 100px;
    }

    .footer-container,
    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-container {
        flex-wrap: wrap;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    .footer-bottom {
        width: 100%;
        margin-top: 110px;
        padding-top: 16px;
    }

    .footer-contacts {
        margin-top: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .page-footer {
        margin-top: 150px;
    }

    .footer-container {
        padding-top: 64px;
        padding-bottom: 23px;
    }

    .footer-bottom {
        margin-top: 64px;
        padding-top: 23px;
    }
}
