.lessons-title {
  color: var(--black);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  width: 100%;
  margin-bottom: 16px;
}

.lessons-subtext {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .lessons-subtitle {
    max-width: 665px;
  }
}

.lessons-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.lessons-card-item {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
  border: 1px solid var(--dark-green);
}

.lessons-card-item:focus,
.lessons-card-item:hover {
  box-shadow: 0 1px 6px #2e2f4214, 0 1px 1px #2e2f4229, 0 2px 1px #2e2f4214;
}

.lessons-card-item:nth-child(even) {
  background-color: var(--green);
  color: var(--white);
}

.lessons-card-item:nth-child(even) .lessons-card-title {
  color: var(--white);
}

.lessons-card-item:nth-child(even) .lessons-card-price {
  color: var(--white);
}

.lessons-card-item:nth-child(even) .lessons-card-desc {
  color: rgba(255, 255, 255, 0.7);
}

.lessons-card-item:nth-child(even) .lessons-card-button:hover {
  background-color: var(--white);
}

.lessons-card-button-even {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.lessons-card-button-even:hover {
  background-color: var(--white);
  color: var(--dark-green);
}

.lessons-card-title {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.lessons-card-price {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.64px;
  margin-bottom: 24px;
  color: var(--black);
}

.lessons-card-desc {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 14px;
  color: rgba(18, 20, 23, 0.5);
}

.lessons-card-button {
  width: 100%;
  height: 52px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--green);
  margin: 0 auto;
  display: flex;
  transition: 1s var(--animation-func);
}

.lessons-card-button:focus,
.lessons-card-button:hover {
  background-color: var(--dark-green);
}

.border:hover {
  color: var(--dark-green);
  background-color: var(--white);
}

/**
  |============================
  | Tablet Styles
  |============================
*/

@media screen and (min-width: 768px) {
  .lessons-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
  }

  .lessons-subtext {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
  }

  .lessons-card-list {
    justify-content: flex-start;
  }

  .lessons-card-item {
    width: 336px;
    padding: 32px 16px;
  }

  .lessons-card-price {
    margin-bottom: 32px;
  }

  .lessons-card-desc {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

/**
  |============================
  | Desktop Styles
  |============================
*/

@media screen and (min-width: 1280px) {
  .lessons-subtext {
    width: 665px;
    font-size: 18px;
    line-height: 1.66;
  }

  .lessons-subtext {
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .lessons-card-list {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .lessons-card-item {
    width: 320px;
    padding: 32px 32px;
  }

  .lessons-card-price {
    margin-bottom: 16px;
  }

  .lessons-card-desc {
    margin-bottom: 16px;
    width: 255px;
  }
}
